spring:
  application:
    name: notification-service
  datasource:
    url: jdbc:postgresql://localhost:5432/hub
    username: ws
    password: 1234
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        highlight_sql: true

server:
  port: 19098

eureka:
  client:
    service-url:
      defaultZone: http://localhost:19090/eureka/

gemini:
  api:
    url: ${GEMINI_URL}
    key: ${GEMINI_KEY}
